# Thermocron iButton Manager configuration file
# adapt to your needs and rename to config.sh
#

# path for owfs binaries
bpath=/opt/owfs/bin

# path where to write the data
datapath=/srv/iButtonManager
# first part of data filename
outputfnbase=templog

# path and filename of registry-database
regdb=$datapath/regdb.txt

# path and filename for rrdtool binary
#  set to rrdtool in a Linux environment hwere rrdtool is accessible within the PATH
#rrdtool=rrdtool
#  Cygwin: download the rrdtool binary for windows, copy it to your favorite place
#  and let the variable point to it.
rrdtool=./rrdtool


# width and height for image produces by rrdtool graph
graphwidth=900
graphheight=500

# two lines are drawn in graph to indicate an upper and a lower limit
graph_upperlimit=10
graph_lowerlimit=0
graph_ulimit_color=#0000ff
graph_llimit_color=#0000ff

# default memory content displayed in dialog window when writing memory of thermocron iButton
default_memory_content="This is property of My Company.\nMy Company, Subdivision in City (Country).\n"

# wheter to upload the data to the corresponding upload.php-script running on a websever. 0..disable, 1..enable
# upload requires curl
upload_data=0
# URL to upload the data to
upload_url="https://www.example.com/TemperatureLogging/upload.php?action=templog&subaction=upload_results"
# additional parameters for curl
# more parameters for curl. e.g. --insecure if using https with a self signed certificate
#curl_params="--insecure"
curl_params=""

#
# no modifications should be required below this line
#
echo $PATH | grep $bpath >/dev/null
if [ $? -ne 0 ]; then
	export PATH=$PATH:$bpath
fi

owserverport=3000
# shortcuts for owfs shell binaries
wdir="$bpath/owdir -s $owserverport "
wget="$bpath/owget -s $owserverport "
wread="$bpath/owread -s $owserverport "
wwrite="$bpath/owwrite -s $owserverport "

